<div class="bg-success w-100 h-100 d-flex justify-content-center align-items-center">

    
    <div class="card text-center mx-5" style="width: 25rem;">
        <div class="card-body">
          <h1 class="card-title">Bienvenido</h1>
          <p class="card-text">Elige una opción:</p>
          
          <div class="row">
            <a type="button" class="btn btn-primary" href="http://localhost:{{port}}/realms/{{realmId}}/protocol/openid-connect/auth?response_type=code&client_id={{clientId}}">Iniciar Sesión</a>
          </div>
          
          <div class="row mt-2"> 
            <button type="button" class="btn btn-secondary">Registrar</button>
          </div>
          
        </div>
    </div>
   
    
</div>
